.content{
    padding: 1rem;

    width: 280px;
    background-color: rgb(76, 121, 87);

    border-radius: 1rem;
}
.name{
    display: flex;
    justify-content: space-between;
}
.email{
    display: flex;
    justify-content: space-between;
}
.pss{
    display: flex;
    justify-content: space-between;
}

input{
    padding: .5rem;

    color: black;
    background-color: white;
    border: none;
    border-radius: 1rem;

    margin-bottom: 5px;
}

.btn{
    margin-top: .5rem;
}

.btn button{
    width: 100%;
}