.conteiner{
    padding: 1rem;
    width: 300px;
    background-color: blueviolet;
    border-radius: 1rem;
}

.title{
    font: normal 2rem 'arial black';
    color: white;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.308);
}

.mail, .pass{
    margin: .5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

label{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    font: bold 1rem arial;
    width: 100%;
}

input{
    padding: .5rem;
    width: 65%;
}

.btn{
    margin-top: 1rem;
    width: 100%;

    font: bold 1.3rem arial;
    
}

.error{
    color: rgb(109, 1, 1);
    font: bold 1rem arial;
}